.profile {
  display: flex;
  background-color: #eeeeee;
  padding: 1rem;
  width: 480px;
}

.profile__avatar {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}

.profile__avatar img {
  width: 100%;
  height: 100%;
}

.profile__about {
  margin-left: 2rem;
  flex-grow: 1;
}

.profile__about a {
  background-color: #2ac17e;
  margin: 0;
}

.profile__about a p {
  background-color: #2ac17e;
}

.profile__about h3 {
  text-transform: uppercase;
}

.profile__about__follow {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.profile__about__follow p {
  background-color: black;
  color: #fff;
  padding: 3px 8px;
  margin-right: 5px;
  margin-bottom: 0;
}

.profile__about__follow Link p {
  background-color: red;
}
